@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    background-color: #F5F5F5;
}

.top-menu ul{
    list-style: none;
    /*display: flex;*/
    text-align: center;
}

.top-menu li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin: 2em 3em 1em 1em;
    display: inline-block;
}

.top-menu li a{
    text-decoration: none;
    color: #588157;
}

.top-menu ul #h, .top-menu ul #a a{
    font-weight: 700;
    color: #344E41;
}

/*Espacio parea centrar el contenido*/
.aboutMe{
    text-align: center;
}

.aboutMe-left-text{
    padding: 1em 2em 2em 5em;
    display: inline-block;
}

.aboutMe-left-text h1 {
    margin-bottom: 0.2em;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
}
.aboutMe-left-text span {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.aboutMe-left-text h2 {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.4em;
}

.grid-imgs{
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: 15em 15em;
    grid-template-rows: auto;
}
.grid-imgs img{
    width: 100%;
    height: 100%;
}

.aboutMe-gallery{
    padding: 1em 2em 2em 5em;
    display: inline-block;
}
