@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

/* for the navbar*/
body {
    background-color: #F5F5F5;
}

.top-menu ul{
    list-style: none;
    text-align: center;
}

.top-menu li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin: 2em 3em 1em 1em;
    display: inline-block;
}

.top-menu li a{
    text-decoration: none;
    color: #588157;
}

.top-menu ul #h, .top-menu ul #w a{
    font-weight: 700;
    color: #344E41;
}

/*for the heading*/
.home {
    overflow: hidden;
}

.home .home-header{
    padding: 1em 2em 1em 2em;
    text-align: center;
}

.home .home-header h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
}

.home .home-header span{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.home .home-header h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2em;
}

/*for the interests*/
.interests{
    text-align: center;
}

.hobby{
    width: 22em;
    height: 25em;
    /*background-color: #65bc91;*/
    margin: 2em 3em 0 3em;
    display: inline-block;
    vertical-align: middle;
    /*box-shadow: 0px 5px 8px #888888;*/
}

.hobby img{
    width:22em;
    height:17em;
    object-fit: cover;
    border: none;
    
}

.hobby h1{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2em;
    padding: 0  2em 0 2em;
    margin-bottom: 2em;
}