@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

body{
    background: url("./bg-index.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.top-menu ul{
    list-style: none;
    text-align: center;
}

.top-menu li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin: 2em 3em 1em 1em;
    display: inline-block;
}

.top-menu li a{
    text-decoration: none;
    color: #F5F5F5;
}

.top-menu ul #h, .top-menu ul #h a{
    font-weight: 700;
    color: #FEFEFF;
    text-decoration: underline;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title-text{
    color: #ECEAEA;
    text-align: center;
}
.home-title-text h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 4em;
    line-height: 1em;
}
.home-title-text span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

.home-title-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 3em;

}
/*
.home-left-text h2 {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2em;
}
*/
.home-title-text a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #262626;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #FFFFFF;
    border-radius: 50px;
    text-decoration: none;

}

.home-profile-image {
    padding: 6em 2em 2em 5em;
    text-align: center;
}

.home-profile-image img{
    border-radius: 50%;
    width: 50%;
    height: auto;
}
