@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    background-color: #F5F5F5;
}

.top-menu ul{
    list-style: none;
    text-align: center;
}

.top-menu li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin: 2em 3em 1em 1em;
    display: inline-block;
}

.top-menu li a{
    text-decoration: none;
    color: #588157;
}

.top-menu ul #h, .top-menu ul #h a{
    font-weight: 700;
    color: #344E41;
}

.home {
    overflow: hidden;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-left-text{
    padding: 1em 2em 2em 5em;
}
.home-left-text h1 {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 4em;
}
.home-left-text span {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.home-left-text h2 {
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2em;
}

.home-left-text a{
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #588157;
}

.home-profile-image {
    padding: 6em 2em 2em 5em;
    text-align: center;
}

.home-profile-image img{
    border-radius: 50%;
    width: 60%;
    height: auto;
}
