@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    background-color: #F5F5F5;
}

.top-menu ul{
    list-style: none;
    text-align: center;
}

.top-menu li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin: 2em 3em 1em 1em;
    display: inline-block;
}

.top-menu li a{
    text-decoration: none;
    color: #588157;
}

.top-menu ul #h, .top-menu ul #w a{
    font-weight: 700;
    color: #344E41;
}

.title h1{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
}

.title span{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/*Centrar contenedores*/
.projects{
    text-align: center;
    
}

.project-card{
    width: 20em;
    height: 25em;
    /*
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    */
    background-color: #344E41;
    margin: 2em 3em 0 3em;
    display: inline-block;
    /*box-shadow: 0px 5px 8px #888888;*/
}
.project-card .image-container{
    text-align: center;
    background-color: #F5F5F5;
    border-top: 2px solid #588157;
    border-left: 2px solid #588157;
    border-right: 2px solid #588157;
}

.project-card img{
    width: 60%;
    height:auto;
    padding: 1em 1em 1em 1em;
    /*
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    */
    border: none;
}

p{
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1em;
    padding: 0  2em 0 2em;
    color: #EDF2F4;
    margin-bottom: 2em;
}
.project-card .button-github{
    text-align: left;
    margin-left: 2em;
}

.project-card a
{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000000;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #D9D9D9;
    border-radius: 50px;
}