{% extends 'base.html' %}

{% block head %}
<!--Here goes the title of the page -->
<title>Portfolio MLH</title>
<link rel="stylesheet" href='./static/css/work.css'>
{% endblock %}

{% block body %}

<div class="top-menu">
    <ul>
        <li><a href="{{ url_for('index')}}">home</a></li>
        <li><a href="{{ url_for('aboutme')}}">about</a></li>
        <li id="w"><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="">hobbies</a></li>
        <li><a href="">education</a></li>
        <li><a href="">traveling</a></li> 
    </ul>
</div>

<div class="title">
    <h1>Some projects<span> I've worked in ⛏ </span> </h1>
</div>


<div class="projects">
    
    <div class="project-card">
        <img src="./static/img/empty.jpeg">
        <div class="project-descr">
            <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Aliquam scelerisque dapibus vulputate</p>
        </div>
        <a href="">see on Github</a>
    </div>

    <div class="project-card">
        <img src="./static/img/empty.jpeg">
        <div class="project-descr">
            <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Aliquam scelerisque dapibus vulputate</p>
        </div>
        <a href="">see on Github</a>
    </div>

    <div class="project-card">
        <img src="./static/img/empty.jpeg">
        <div class="project-descr">
            <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Aliquam scelerisque dapibus vulputate</p>
        </div>
        <a href="">see on Github</a>
    </div>

</div>
{% endblock %}
