{% extends 'base.html' %}

{% block head %}
<!--Here goes the title of the page -->
<title>Portfolio MLH</title>
<link rel="stylesheet" href='./static/css/aboutMe.css'>
{% endblock %}

{% block body %}

<div class="top-menu">
    <ul>
        <li><a href="{{ url_for('index')}}">home</a></li>
        <li id="a"><a href="{{ url_for('aboutme')}}">about</a></li>
        <li><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="{{ url_for('hobbies')}}">hobbies</a></li>
        <li><a href="{{ url_for('education')}}">education</a></li>
        <li><a href="{{ url_for('travel')}}">traveling</a></li>
    </ul>
</div>


<div class="aboutMe">
    <div class="aboutMe-left-text">
        <h1>A little bit <br><span>about me 👋</span></h1>
        
        <h2> I am always looking to work on<br>exciting and innovative ideas.<br>Bringing them to the market<br>is what is strive for at<br>every level.</h2>
        <br>
        <h2>I am particularly interested<br>in software that makes people's<br>lives easier, cheaper, and of<br>higher quality</h2>
    </div>

    <div class="aboutMe-gallery">
        <div class="grid-imgs">
            <img src="./static/img/flowers.jpeg" alt="">
            <img src="./static/img/books.jpeg" alt="">
            <img src="./static/img/travel.jpeg" alt="">
            <img src="./static/img/turtle.jpeg" alt="">
        </div>

    </div>
</div>


{% endblock %}