{% extends 'base.html' %}
{% block head %}
<!--Here goes the title of the page -->
<title>Portfolio MLH</title>
<link rel="stylesheet" href='./static/css/education.css'>
{% endblock %}

{% block body %}
<div class="top-menu">
    <ul>
        <li><a href="{{ url_for('index')}}">home</a></li>
        <li><a href="{{ url_for('aboutme')}}">about</a></li>
        <li><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="{{ url_for('hobbies')}}">hobbies</a></li>
        <li id="w"><a href="{{url_for('education')}}">education</a></li>
        <li><a href="">traveling</a></li> 
    </ul>
</div>

<div class="home" id="home">
    <div class="home-content">
        <div class="home-header">
            <h1>Part of my <span>education📚</span></h1>
            {% for experience in education %}
                <h2><span>{{ experience.name }}</span><br>{{ experience.description }}</h2>
            {% endfor %}


        </div>
     </div>
</div>
{% endblock %}