{% extends 'base.html' %}

{% block head %}
<!--Here goes the title of the page -->
<title>Portfolio MLH</title>
<link rel="stylesheet" href='./static/css/travel.css'>
{% endblock %}

{% block body %}
<!--Here goes the body of the page -->

<div class="top-menu">
    <ul>
        <li id="h"><a href="{{ url_for('index')}}">home</a></li>
        <li><a href="{{ url_for('aboutme')}}">about</a></li>
        <li><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="{{ url_for('hobbies')}}">hobbies</a></li>
        <li><a href="{{ url_for('education')}}">education</a></li>
        <li><a href="{{ url_for('travel')}}">traveling</a></li>
    </ul>
</div>

<div class="title">
    <h1>Some places<span> I've been to</span> </h1>
</div>

<div class="map" id="map">

    <div class="subtitle">
        <h1>States<span> I've been to</span> </h1>
    </div>
    <div class="map-profile-image">
        <img id="states-image" src="./static/img/states.png">
    </div>

    <div class="subtitle">
        <h1>Countires<span> I've been to</span> </h1>
    </div>
    <div class="map-profile-image">
        <img id="countries-image" src="./static/img/countries.png">
    </div>    
    

</div>
{% endblock %}