{% extends 'base.html' %}

{% block head %}
<!--Here goes the title of the page -->
<title>Portfolio MLH</title>
<link rel="stylesheet" href='./static/css/work.css'>
{% endblock %}

{% block body %}

<div class="top-menu">
    <ul>
        <li><a href="{{ url_for('index')}}">home</a></li>
        <li><a href="{{ url_for('aboutme')}}">about</a></li>
        <li id="w"><a href="{{ url_for('work')}}">work</a></li>
        <li><a href="{{ url_for('hobbies')}}">hobbies</a></li>
        <li><a href="{{ url_for('education')}}">education</a></li>
        <li><a href="{{ url_for('travel')}}">traveling</a></li> 
    </ul>
</div>

<div class="title">
    <h1>Some projects<br><span> I've worked in ⛏ </span> </h1>
</div>


<div class="projects">
    
    {% for experience in work %}
        <div class="project-card">
            <div class="image-container">
                <img src="{{ experience.picture }}">
            </div>
            <div class="project-descr">
                <p>{{ experience.description }}</p>
            </div>
            <div class="button-github">
                <a href="{{ experience.link }}">see on Github</a>
            </div>
            
        </div>
    {% endfor %}

</div>
{% endblock %}
